<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">

<dom-module id="tabs-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-tabs select="0">
      <paper-tab>{{title1_tab}}</paper-tab>
      <paper-tab>{{title2_tab}}</paper-tab>
      <paper-tab>{{title3_tab}}</paper-tab>
      
    </paper-tabs>
  </template>

  <script>
    /**
     * `tabs-card`
     * Esto es una descarga de paper-tab
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsCard extends Polymer.Element {
      static get is() { return 'tabs-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-card'
          },
          title1_tab: {
            type:String,
            value: 'Titulo 1'
          },
          title2_tab: {
            type:String,
            value: 'Titulo 2'
          },
          title3_tab: {
            type:String,
            value: 'Titulo 3'
          }
        };
      }
    }

    window.customElements.define(TabsCard.is, TabsCard);
  </script>
</dom-module>
